In [36]:
import requests
import pandas as pd

In [91]:
Id = []
Type = []
address = []
price = []
fees = []
rms = []
bath = []
agent = []
tele = []
size = []
descrp = []
lat = []
long = []

index = [i for i in range(0, 24*42, 24)]
for j in index:
    cookies = {
        'TS01826437': '012f990cd328eae1a3aa0b0b197a6ceed5d220c1c9082bf47a324190d316d3428327af84c684ace94b48029d86e28b8833d1fb38fc',
        'TS01a07bd2': '012f990cd328eae1a3aa0b0b197a6ceed5d220c1c9082bf47a324190d316d3428327af84c684ace94b48029d86e28b8833d1fb38fc',
        'JSESSIONID': '4A049D4E35A49B48849DC949EDC53321',
        'permuserid': '2109267HQNK6FG8DKEUHXB24DH5GLIJZ',
        'beta_optin': 'N:23:-1',
        'RM_Register': 'C',
        'TS01ec61d1': '012f990cd328eae1a3aa0b0b197a6ceed5d220c1c9082bf47a324190d316d3428327af84c684ace94b48029d86e28b8833d1fb38fc',
        'rmsessionid': '48cb46db-adf9-4ba4-b1ab-095733f2b4d7',
        'lastSearchChannel': 'RES_LET',
        'TS019c0ed0': '012f990cd306067add487317957a468d14271ac57e602070974f9fc4e59484965c32183b17c45081fad8abd193f246b110e3dcf10e',
        'lastViewedFeaturedProperties': '113600243|113543921|113931854|113456849|111757745',
    }

    headers = {
        'Connection': 'keep-alive',
        'sec-ch-ua': '"Chromium";v="94", "Google Chrome";v="94", ";Not A Brand";v="99"',
        'Accept': 'application/json, text/javascript',
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-Requested-With': 'XMLHttpRequest',
        'sec-ch-ua-mobile': '?0',
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36',
        'sec-ch-ua-platform': '"macOS"',
        'Sec-Fetch-Site': 'same-origin',
        'Sec-Fetch-Mode': 'cors',
        'Sec-Fetch-Dest': 'empty',
        'Referer': 'https://www.rightmove.co.uk/property-to-rent/find.html?locationIdentifier=REGION%5E87490&propertyTypes=&includeLetAgreed=false&mustHave=&dontShow=&furnishTypes=&keywords=',
        'Accept-Language': 'en-US,en;q=0.9',
    }

    params = (
        ('locationIdentifier', 'REGION^87490'),
        ('numberOfPropertiesPerPage', '24'),
        ('radius', '0.0'),
        ('sortType', '6'),
        ('index', str(j)),
        ('includeLetAgreed', 'false'),
        ('viewType', 'LIST'),
        ('channel', 'RENT'),
        ('areaSizeUnit', 'sqft'),
        ('currencyCode', 'GBP'),
        ('isFetching', 'false'),
    )

    response = requests.get('https://www.rightmove.co.uk/api/_search', headers=headers, params=params, cookies=cookies)

    #NB. Original query string below. It seems impossible to parse and
    #reproduce query strings 100% accurately so the one below is given
    #in case the reproduced version is not "correct".
    # response = requests.get('https://www.rightmove.co.uk/api/_search?locationIdentifier=REGION%5E87490&numberOfPropertiesPerPage=24&radius=0.0&sortType=6&index=0&includeLetAgreed=false&viewType=LIST&channel=RENT&areaSizeUnit=sqft&currencyCode=GBP&isFetching=false', headers=headers, cookies=cookies

    # json object
    result = response.json()

    #items
    items = result['properties']

    # extract data
    for item in items:
        try:
            Id.append(item['id'])
        except:
            Id.append('')
        try:
            Type.append(item['propertySubType'])
        except:
            Type.append('')
        try:
            descrp.append(item['propertyTypeFullDescription'])
        except:
            descrp.append('')
        try:
            address.append(item['displayAddress'])
        except:
            address.append('')
        try:
            rms.append(item['bedrooms'])
        except:
            rms.append('')
        try:
            bath.append(item['bathrooms'])
        except:
            bath.append('')
        try:
            size.append(item['displaySize'])
        except:
            size.append('')
        try:
            price.append(item['price']['amount'])
        except:
            price.append('')
        try:
            fees.append(item['feesApply'])
        except:
            fees.append('')
        try:
            agent.append(item['customer']['branchDisplayName'])
        except:
            agent.append('')
        try:
            tele.append(item['customer']['contactTelephone'])
        except:
            tele.append('')
        try:
            lat.append(item['location']['latitude'])
        except:
            lat.append('')
        try:
            long.append(item['location']['longitude'])
        except:
            long.append('')

In [84]:
table = pd.DataFrame({"Id":Id, "Address":address, "Type":Type, "Description":descrp, "Size (sq. ft)":size, "Bedrooms":rms, 
                      "Bathrooms":bath, "Price (Â£)":price,"Additional Fees":fees, "Agent":agent, "Tel":tele, 
                      "Latitude":lat, "Longitude":long})
table

,Id,Address,Type,Description,Size (sq. ft),Bedrooms,Bathrooms,Price (Â£),Additional Fees,Agent,Tel,Latitude,Longitude
0,113967854,"Beaufort Gardens, Knightsbridge SW3",Flat,2 bedroom flat,,2,2.0,900,True,"Farrar & Co, Chelsea - Lettings",020 8012 4896,51.498360,-0.164890
1,114035963,"Carburton House, Carburton Street, London, W1W",Flat,1 bedroom flat,,1,1.0,375,True,"Coopers, London - Lettings",020 8012 1841,51.522510,-0.142146
2,114035906,"Voss Street, London, E2",Flat,1 bedroom flat,,1,1.0,1350,True,"OpenRent, London",020 3322 3265,51.526070,-0.065482
3,114035894,"Silvermere Road, London, SE6",Flat,2 bedroom flat,,2,1.0,1450,True,"OpenRent, London",020 3322 3265,51.447360,-0.022278
4,114035867,"Bourbon Road, London, SW9",Flat,2 bedroom flat,,2,1.0,2150,True,"OpenRent, London",020 3322 3265,51.473230,-0.109658
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,113955572,"Apex Gardens, Seven Sisters, N15",Apartment,3 bedroom apartment,,3,2.0,2800,True,"Home Made, London",01202 066307,51.582503,-0.072902
1046,113955317,"Boundary Road, London, NW8",Flat,1 bedroom flat,,1,NaN,508,True,"Lord Estates, London",020 8012 1106,51.539790,-0.174760
1047,113955506,Salford Road London SW2,Flat,2 bedroom flat,,2,2.0,2250,True,"Hamptons Lettings, Balham",020 8012 4531,51.442300,-0.133760
1048,113955476,"Verbena Cottage, Lucerne Mews, W8",Flat,1 bedroom flat,516 sq. ft.,1,1.0,2275,True,"Douglas & Gordon, Kensington",020 8012 4031,51.508020,-0.194275
1049,113955473,"Bilton Towers, Great Cumberland Place, London,...",Flat,2 bedroom flat,"1,027 sq. ft.",2,0.0,975,True,"Chestertons Estate Agents, Hyde Park Lettings",020 8012 3892,51.514706,-0.159911

In [85]:
table.describe()

,Id,Bedrooms,Bathrooms,Price (Â£),Latitude,Longitude
count,1.050000e+03,1050.000000,928.000000,1050.000000,1050.000000,1050.000000
mean,1.112172e+08,1.841905,1.367457,1563.165714,51.513801,-0.125263
std,1.074308e+07,1.207601,0.763019,1512.815065,0.049247,0.084209
min,1.952458e+07,0.000000,0.000000,126.000000,51.387350,-0.340960
25%,1.139546e+08,1.000000,1.000000,721.250000,51.485515,-0.189641
50%,1.139701e+08,2.000000,1.000000,1350.000000,51.511140,-0.132610
75%,1.139876e+08,2.000000,2.000000,1893.750000,51.545871,-0.062566
max,1.140360e+08,10.000000,8.000000,17500.000000,51.640170,0.127382

In [86]:
table.to_excel('Rent_properties_London.xlsx', index=False)

### Test

In [38]:
response

In [39]:
results = response.json()
items = results['properties']

### Features
- Price
- Bedrooms
- Bathrooms
- student renteable
- Agent
- Location
- added fees
- Description
- SubType

In [40]:
test = items[0]

In [41]:
#location
addy = test['displayAddress']
lat, long = test['location']['latitude'], test['location']['longitude']
print(f'Address: {addy}\nPoint: ({lat}, {long})')

Address: The Madison, London, E14
Point: (51.50007, -0.01584)

In [42]:
# building info
rooms = test['bedrooms']
baths = test['bathrooms']
typ = test['propertySubType']
student = test['students']
desc = test['propertyTypeFullDescription']
print(f'Rooms: {rooms}\nBathrooms: {baths}\nType: {typ}\nStudent? : {student}\nDescription: {desc}')

Rooms: 2
Bathrooms: 2
Type: Apartment
Student? : False
Description: 2 bedroom apartment

In [43]:
# agent info
agent = test['customer']['branchDisplayName']
tel = test['customer']['contactTelephone']
print(f'Company: {agent}\nTel: {tel}')

Company: One Move Group, London
Tel: 020 8012 5141

In [44]:
# price
cost = test['price']['amount']
meth = test['price']['frequency']
fees = test['feesApply']
print(f'PCM: {cost} {meth}\nAdditional fees: {fees}')

PCM: 3033 monthly
Additional fees: True

In [58]:

Id = []
Type = []
address = []
price = []
fees = []
rms = []
bath = []
agent = []
tele = []
student = []
descrp = []
lat = []
long = []

for item in items:
    try:
        Id.append(item['id'])
    except:
        Id.append('')
    try:
        Type.append(item['propertySubType'])
    except:
        Type.append('')
    try:
        descrp.append(item['propertyTypeFullDescription'])
    except:
        descrp.append('')
    try:
        address.append(item['displayAddress'])
    except:
        address.append('')
    try:
        rms.append(item['bedrooms'])
    except:
        rms.append('')
    try:
        bath.append(int(item['bathrooms']))
    except:
        bath.append('')
    try:
        student.append(item['students'])
    except:
        student.append('')
    try:
        price.append(item['price']['amount'])
    except:
        price.append('')
    try:
        fees.append(item['feesApply'])
    except:
        fees.append('')
    try:
        agent.append(item['customer']['branchDisplayName'])
    except:
        agent.append('')
    try:
        tele.append(item['customer']['contactTelephone'])
    except:
        tele.append('')
    try:
        lat.append(item['location']['latitude'])
    except:
        lat.append('')
    try:
        long.append(item['location']['longitude'])
    except:
        long.append('')

In [59]:
table = pd.DataFrame({"Id":Id, "Type":Type, "Description":descrp, "Bedrooms":rms, "Bathrooms":bath, "Price (Â£)":price,
                      "Additional Fees":fees, "Agent":agent, "Tel":tele, "Latitude":lat, "Longitude":long})
table

,Id,Type,Description,Bedrooms,Bathrooms,Price (Â£),Additional Fees,Agent,Tel,Latitude,Longitude
0,113251481,Apartment,2 bedroom apartment,2,2,3033,True,"One Move Group, London",020 8012 5141,51.500070,-0.015840
1,114029336,Maisonette,3 bedroom maisonette,3,2,2550,True,"OpenRent, London",020 3322 3265,51.539300,-0.052849
2,114029300,Terraced,4 bedroom terraced house,4,2,2500,True,"Sebastian Roche Ltd, London",020 8012 2386,51.450740,-0.039720
3,114029294,Apartment,1 bedroom apartment,1,1,1900,True,"Stirling Ackroyd Lettings, Clerkenwell",020 8012 5351,51.528383,-0.097309
4,113210687,Flat,1 bedroom flat,1,,1300,True,"JP Residential, Borehamwood",020 8012 1904,51.543270,-0.190050
5,114029213,Flat,1 bedroom flat,1,1,1250,True,"OpenRent, London",020 3322 3265,51.453870,-0.113680
6,114029210,Flat,3 bedroom flat,3,2,2700,True,"OpenRent, London",020 3322 3265,51.510210,-0.060567
7,114029201,Flat,2 bedroom flat,2,1,1680,True,"OpenRent, London",020 3322 3265,51.523440,-0.014062
8,103043162,Flat Share,1 bedroom flat share,1,,999,True,"Delta Properties SLM Ltd, London",020 3858 2494,51.506520,-0.035310
9,114029153,Flat,2 bedroom flat,2,2,750,True,"1 Ability Estate Agents, London",020 3858 3022,51.481980,-0.135590
10,112929494,Flat,2 bedroom flat,2,1,1400,True,"OpenRent, London",020 3322 3265,51.591390,-0.076538
11,114029066,Studio,Studio flat,0,,295,True,"MacArthur Morrison, London",020 8012 3085,51.515080,-0.058430
12,113918687,Apartment,3 bedroom apartment,3,1,3299,True,"Martin & Co, Camden",020 8012 4860,51.535470,-0.134270
13,31909308,Apartment,2 bedroom apartment,2,2,850,True,"River Habitat Estate Agents, London",020 8012 3524,51.507080,-0.021020
14,114028907,Flat,2 bedroom flat,2,1,1500,True,"Visum, Nationwide",03300 101115,51.451086,-0.122617
15,114028895,Flat,2 bedroom flat,2,1,1400,True,"OpenRent, London",020 3322 3265,51.445700,-0.212733
16,113751041,Semi-Detached,4 bedroom semi-detached house,4,3,2095,True,"OpenRent, London",020 3322 3265,51.525880,-0.325089
17,114028709,Flat,1 bedroom flat,1,1,1250,True,"OpenRent, London",020 3322 3265,51.492825,0.073471
18,114028706,Flat,2 bedroom flat,2,2,2600,True,"OpenRent, London",020 3322 3265,51.540410,-0.120677
19,114028682,House,3 bedroom house,3,1,415,True,"Castle Estates, South London",020 8870 9534,51.408072,-0.124660
20,112208873,Flat,2 bedroom flat,2,2,800,True,"1 Ability Estate Agents, London",020 3858 3022,51.481980,-0.135590
21,113990447,Flat,2 bedroom flat,2,1,1560,True,"OpenRent, London",020 3322 3265,51.412280,-0.207754
22,114019457,Apartment,1 bedroom apartment,1,1,1250,True,"Winkworth, Surrey Quays",020 8012 3572,51.490526,-0.069225
23,114019454,Apartment,1 bedroom apartment,1,1,330,True,"Winkworth, Shepherds Bush",020 8012 3576,51.505600,-0.233550
24,88739935,Studio,Studio flat,0,1,1000,True,"Winkworth, Chiswick",020 8012 3531,51.492150,-0.261540